:root {
  --swiper-tinder-no-color: red;
  --swiper-tinder-yes-color: green;
  --swiper-tinder-label-text-color: #fff;
  --swiper-tinder-label-font-size: 32px;
  --swiper-tinder-button-size: 56px;
  --swiper-tinder-button-icon-size: 32px;
}
.swiper-tinder {
  box-sizing: border-box;
  .swiper-slide {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.swiper-tinder-label {
  position: absolute;
  font-size: var(--swiper-tinder-label-font-size);
  font-weight: bold;
  padding: 4px 12px;
  text-transform: uppercase;
  border-radius: 4px;
  opacity: 0;
  color: var(--swiper-tinder-label-text-color);
}
.swiper-tinder-label-yes {
  left: 3%;
  top: 5%;
  transform: rotate(-20deg);
  background-color: var(--swiper-tinder-yes-color);
  transform-origin: right top;
}

.swiper-tinder-label-no {
  right: 3%;
  top: 5%;
  transform: rotate(20deg);
  background-color: var(--swiper-tinder-no-color);
  transform-origin: left top;
}
.swiper-tinder-button {
  cursor: pointer;
  bottom: 32px;
  // width: var(--swiper-tinder-button-size);
  height: var(--swiper-tinder-button-size);
  border: 1px solid;
  border-radius: 14px;
  background: transparent;
  appearance: none;
  outline: none;
  box-shadow: none;
  z-index: 10;
  transition-duration: 100ms;
  font-size: var(--swiper-tinder-button-icon-size) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  margin: 0;
  svg {
    width: var(--swiper-tinder-button-icon-size);
    height: var(--swiper-tinder-button-icon-size);
  }
  &-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &-no {
    color: var(--swiper-tinder-no-color);
    border-color: var(--swiper-tinder-no-color);
    left: calc(33% - 28px);
    svg {
      fill: var(--swiper-tinder-no-color);
    }
    &.swiper-tinder-button-active,
    &:active,
    &:hover {
      color: #e7e0e0c9;
      background: var(--swiper-tinder-no-color);
      svg {
        fill: #fff;
      }
    }
  }
  &-yes {
    color: var(--swiper-tinder-yes-color);
    border-color: var(--swiper-tinder-yes-color);
    left: calc(66% - 28px);
    svg {
      fill: var(--swiper-tinder-yes-color);
    }
    &.swiper-tinder-button-active,
    &:active,
    &:hover {
      color: #e7e0e0c9;
      background: var(--swiper-tinder-yes-color);
      svg {
        fill: #fff;
      }
    }
  }
}
